/*custom changes*/

#header {
    background: #000000;
    height: 60px;
}

#header .logo {
    width: 370px;
}

.headerMenu {
    margin-left: auto;
}

.rmUlNative,
.rmUlNative li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.headerMenu li {
    padding: 5px;
    margin: 0px 15px 0px 0px;
    min-width: 75px;
}

.headerMenu li a {
    color: #C2BFBF;
    text-decoration: none;
    text-transform: capitalize;
}

.headerMenu li:hover a {
    color: #FFFFFF;
    font-weight: bold;
}

.testiprofile {
    min-width: 200px;
    max-width: 200px;
    border-radius: 100%;
    overflow: hidden;
}

.highlights section {
    padding: 1.5rem !important;
}

.highlights section a,
.highlights section a:hover {
    color: #0056b3;
}

#banner h1 {
    font-weight: bold;
}

#banner:after {
    background: rgb(105, 102, 255);
    background: linear-gradient(90deg, rgba(105, 102, 255, 1) 0%, rgba(0, 196, 255, 0.1390931372549019) 100%);
}

.btn-contact{
    background-color: #6966ff !important;
    color: black !important;
}

.btn-contact:hover,
.btn-contact:hover{
    color: black !important;
    border: 1px solid black;
    box-shadow: none !important;
}

.form-control{
    background-color: #ffffff !important;
}

.form-control:focus{
    border-color: #80bdff !important;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
}

.contactBg{
    height: 300px;
    width:100%;
}
